@media (max-width:1180px) {
    .contact__inner {
       justify-content: center; 
    }
    .news__inner {
        justify-content: center;
    }
    .news__item {
        margin-bottom: 30px;
    }
    .new__slider-btn {
        button {
            margin-bottom: 10px;
        }
    }
    .product__content {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .product__aside {
        max-width: 100%;
    }
    .aside__stars {
        .product__item-star {
            padding-bottom: 0;
        }
    }
    .product__aside-author-buttons {
        text-align: center;
    }
    .tabs .tab {
        width: 100%;
    }
    .product__aside-price-btn {
        text-align: center;
        .btn {
            display: inline-block;
            max-width: 300px;
            & + .btn {
                margin-left: 20px;
            }
        } 
    }
    .more-items__inner {
        justify-content: center;
        .product__item {
            max-width: 45%;
            &-img {
                width: 100%;
            }
        }
    }
    .new__slider {
        .product__item {
        flex-basis: calc(50% - 30px);
        max-width: 100%;
        &-img {
            width: 100%;
            }
        }
    }
    .advantages__item {
        flex-basis: calc(50% - 30px);
        max-width: 100%;
    }
}

@media (max-width:1145px) {
    .pricing__item {
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .pricing__inner {
        justify-content: center;
    }
    .blog__aside,
    .blog__content {
        max-width: 100%;
    }
    .benefits__inner {
        justify-content: center;
    }
    .new__slider {
        justify-content: center;
    }
    .category__inner {
        display: block;
    }
    .category__aside {
        max-width: 100%;
        margin-right: 0;
    }
    .category__content {
        margin-left: 0;
        .product__item {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .news__item {
        flex-basis: calc(50% - 30px);
        max-width: 100%;
    }
    .feed__inner {
        .product__item {
            max-width: 100%;
            &-img {
                width: 100%;
            }
        }
        .slick-slide {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
    
}
@media (max-width:1050px) {
    header {
        .general__input {
            min-width: 100%;
        }
    }
    .header__nav {
        margin-bottom: 20px;
    }
    .header__bottom-inner {
        justify-content: center;
    }
    .footer__col-medium {
        min-width: 100%;
    }
    .footer__icons-address:before {
        top: 6px;
    }
    .featured__item-tags a {
        margin-bottom: 10px;
    }
}
@media (max-width:970px) {
    .work__step-item {
        justify-content: center;
        img {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .work__step-reverse {
        .btn {
            margin-bottom: 20px;
        }
        img {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
    .work__step-info {
        max-width: 100%;
        text-align: center;
    }
    .work__step-reverse {
        img {
            order: 0;
        }
    }
    .featured__item-details-left {
        span {
            display: block;
        }
    }
    .featured__item-details-price {
        margin-bottom: 10px;
    }
    .featured__item-details .product__item-icons:before {
        top: 0px;
    }
    .category__filter-inner {
        display: block;
    }
    .category__filter-list {
        text-align: center;
        margin-bottom: 20px;
    }
    .category__filters {
        max-width: 100%;
        justify-content: center;
        .category__filters-price {
            margin-right: 30px;
        }
    }
    .feedback__item {
        flex-basis: calc(100%);
        max-width: 100%;
        margin-bottom: 30px;
        &-text {
            max-width: 100%;
        }
        &-author {
            &:after {
                font-size: 40px;
                text-align: right;
                right: -55px;
            }
            img {
            width: 50px;
            height: 50px;
            }
        } 
    }
}

@media (max-width:900px) {
    .category__filters-grid {
        display: none;
    }
    .category__filters {
        .category__filters-price + .category__filters-price {
            margin-right: 0;
        }
    }
}
@media (max-width:820px) {
    .contact__form input:nth-child(odd) {
        margin-right: 0;
    }
    .category__content .product__item {
        flex-basis: calc(45%);
    }
    .product__item-star {
        padding-bottom: 14px;
    }
    .support__item {
        width: 100%;
    }
    .support__item-blue {
        border-right: none;
        border-bottom: 1px solid #ececec;
    }
}
@media (max-width:789px) {
    .pricing__item {
        max-width: 80%;
        &-list {
            li {
                display: block;
            }
        }
    }
    .contact__item {
        max-width: 80%;
    }
    .contact__item + .contact__item {
        margin-left: 0;
    }
    .new__slider {
        .product__item {
            flex-basis: calc(100%);
            max-width: 100%;
        }
    }
}
@media (max-width:775px) {
    .header__top-inner {
        justify-content: center;
    }
    .pagination {
        text-align: center;;
    }
    .start__item {
        width: 100%;
        padding: 50px 0;
    }
    .feed__inner {
        .slick-slide {
            margin-right: 0;
            margin-left: 0;
        }
    }
}
@media (max-width:750px)  {
    .mail__box:hover .mail__list, .notification__box:hover .mail__list {
        right: -85px;
    }
    .mail__box .mail__list:before, .notification__box .mail__list:before {
        right: 87px;
    }
}
@media (max-width:730px) {
    .footer__col-wide {
        min-width: 100%;
    }
    .footer__inner {
        justify-content: flex-start;
    }
    .socials {
        text-align: center;
    }
    footer {
        .general__input {
            margin: 0 auto;
        }
    }
    .footer__top {
        padding: 50px 0;
    }
}
@media (max-width:720px) {
    .featured__item-img {
        display: none;
    }
    .product__gallery-share {
        display: block;
        .btn-transparent {
            margin-bottom: 20px;
        }
    }
    .product__aside-price-btn {
        .btn {
            display: block;
            margin: 0 auto;
            & +.btn {
                margin: 0 auto;
                margin-top: 20px;
            }
        }
    }
    .statistics__item {
        margin-bottom: 50px;
        flex-basis: calc(50% - 30px);
    }
    .news__item {
        flex-basis: calc(100%);
    }
}
@media (max-width:680px) {
    .category__content .product__item {
        flex-basis: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .product__item-title {
        display: block;
        width: 100%;
    }
    .tabs {
        display: block;
        .tab {
            display: block;
            &.active {
                border-bottom: 1px solid $blue;
            }
        }
    }
    .more-items__inner {
        .product__item {
            max-width: 100%;
            & + .product__item {
                margin-left: 0;
            }
        }
        .product__item-star {
            padding-bottom: 4px;
        }
    }
}
@media (max-width:620px) {
    .header__top-buttons {
        display: none;
    }
    .filter__title {
        font-size: 25px;
    }
    .category__filters {
        display: block;
        text-align: center;
        &-select {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .advantages__item {
        flex-basis: calc(100%);
    }
}
@media (max-width:551px) {
    .header__bottom-inner {
        justify-content: center;
    }
    .header__nav-list {
        display: none;
        li {
            display: block;
            text-align: center;
            margin-top: 20px;
            & + li {
                margin-left: 0;
            }
        }
    }
    .header__nav-burger {
        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #000;
            margin: 0 auto;
            & + span {
                margin-top: 4px;
            }
        }
    }
    .banner__title {
        font-size: 50px;
    }
    .filter__title {
        text-align: center;
        padding-bottom: 100px;
    }
    .new {
        .filter__title {
            padding-bottom: 40px;
        } 
    }
    .slick-prev {
        top: -130px;
        left: 40%;
    }
    .slick-next {
        top: -130px;
        left: 50%;
    }
    .slick-arrow {
        opacity: 1;
    }
    .product__gallery-btn {
        .btn {
            width: 100%;
            & + .btn {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
    .socials li+li {
        margin-left: 7px;
    }
    .socials li  {
        margin-right: 7px;
        margin-bottom: 7px;
        margin-left: 7px;
    }
}
@media (max-width:470px) {
    .footer__col-menu {
        margin-left: 0;
        margin-right: 0;
    }
    .footer__inner {
        justify-content: space-between;
    }
    .login__box {
        padding: 20px;
    }
    .pricing__item {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .banner__inner .btn {
        margin-bottom: 20px;
    }
    .banner {
        padding-top: 110px;
        padding-bottom: 100px;
    }
    .category__filters {
        &-select {
            margin-bottom: 10px;
        }
    }
    .product__aside-price-bottom .btn-violet:before {
        content: none;
    }
}
@media (max-width:450px) {
    .header__top-box {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .contact__item {
        padding: 25px 21px 25px;
    }
    
}
@media (max-width:395px) {
    .header__top-inner,
    .header__bottom-inner,
    .header__top-box {
        justify-content: center;
        .btn {
            margin-right: 10px;
        }
    }
    .pagination__list a, .pagination__list span {
        padding: 5px 18px;
    }
    .blog__item-list li {
        display: block;
    }
    .product__item-details {
        display: block;
    }
    .category__content {
        .product__item-details {
            display: flex;
        }
        .product__item-details-left {
            margin-bottom: 0;
        }
    }
    .product__item-details-left {
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .product__item-details-right {
        text-align: center;
    }
    .product__aside-author-buttons {
        .btn+.btn {
            margin-left: 0;
            margin-top: 20px;
        }
    }
    .slick-prev {
        left: 35%;
    }
    .statistics__item {
        flex-basis: calc(100%);
    }
    .news__item-details-date {
        padding-right: 20px;
    }
    .news__item-info,
    .news__item-details {
        padding: 20px;
    }
}
@media (min-width:551px) {
    .header__nav-list {
        display: block !important;
    }
}