@import 'vars';
@import 'global';

// header start
.header__top {
    padding: 25px 0;
    background-color: $light-grey;
    &-buttons {
        font-size: 0;
    }
    &-avatar {
        display: flex;
        img {
            display: inline-block;
            margin-right: 25px;
            width: 50px;
            height: 50px;
            background-color: $avatar;
            border-radius: 50%;
        }
        span {
            display: block;
            line-height: 22px;
        }
    }
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    img {
        margin-right: 5px;
        width: 50px;
        height: 50px;
    }
    &-blue {
        color: $blue;
    }
}
.header__top-box {
    display: flex;
    align-items: center;
    .btn {
        margin-right: 50px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 20px;
    }
}
.avatar__name {
    font-weight: 500;
    margin-bottom: 5px;
}
.avatar__price {
    font-size: 15px;
    color: $blue;
}
.header__bottom-inner {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.header__nav-list {
    font-style: 0;
    li {
        display: inline-block;
        & + li {
        margin-left: 30px;
        }
    }
    a {
        font-size: 15px;
        font-weight: 500;
    }
}
.header__search {
    position: relative;
    max-width: 360px;
    width: 100%;
    input {
        padding: 15px 30px;
        width: 100%;
        border: 1px solid #d9dfe5;
        border-radius: 30px;
        &::placeholder {
        color: #898f96;
        font-family: 'Quicksand', sans-serif;
        }
    }
    button {
        position: absolute;
        right: 0;
        padding: 15px 30px;
        background-color: $blue;
        border: none;
        border-radius: 30px;
    }
}
// header end

// start banner
.banner {
    position: relative;
    padding-top: 175px;
    padding-bottom: 230px;
    text-align: center;
    color: #fff;
    background-color: $blue;
    background: linear-gradient(180deg, #0030de 0%, #1745ed 54%, #2e5afb 100%);
    &__title {
        margin: 0;
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 70px;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
    &__text {
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 20px;
    }
    &__search {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: absolute;
        bottom: -70px;
        max-width: 1140px;
        width: 100%;
        padding: 40px 35px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .08);
        .btn {
            width: 225px;
            border: none;
            border-radius: 4px;
        }
    }
    
}
.banner__search-input {
    position: relative;
    max-width: 810px;
    width: 100%;
    input {
        max-width: 810px;
        width: 100%;
        padding: 15px 40px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
    } 
}
.banner__select {
    position: absolute;
    right: 0;
    padding: 13px 40px;
    padding-left: 20px;
    border: none;
    border-left: 1px solid #dcdcdc;
    background-color: transparent;
    &:after {
        position: relative;
        top: 0;
        content: '';
        width: 13px;
        height: 8px;
        background-color: red;
        background-image: url(../img/icons/arrow-down.png);
        z-index: 1000;
    }
}
.banner__search-bg {
    position: absolute;
    width: 100%;
    background-color: #fff;
    opacity: 50%;
    border-radius: 5px;
    &-1 {
        max-width: 1110px;
        height: 30px;
        top: -15px;
        left: 15px;
    }
    &-2 {
        max-width: 1070px;
        height: 60px;
        top: -29px;
    }
}
// end banner

// start benefits
.benefits {
    padding-top: 190px;
    padding-bottom: 125px;
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.benefit__item {
    max-width: 365px;
    padding: 45px 40px;
    text-align: center;
    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &-img {
        margin-bottom: 35px;
    }
    &-title {
        margin: 0;
        margin-bottom: 25px;
    }
}
// end benefits

// start featured products

// end featured products